.zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/
zig-pkg/

traces/
datasets/
cascades/ 

bskysim/data/

construct-cascades/buckets
construct-cascades/cascades.ssv

# Go
dataset-creation/dataset-creation
dataset-creation/data/
