.zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/
zig-pkg/

data/
traces/
datasets/
cascades/
tmp/

bskysim/data/

construct-cascades/buckets
construct-cascades/cascades.ssv

# Python
__pycache__/

# Output directories
output/

# Go
dataset-creation/dataset-creation
dataset-creation/data/
